$primary-color: "#fbbf17";
$primary-color-dark: "#c8a415";
$primary-color-light: "#ffff81";

$secondary-color: "#212121";
$secondary-color-dark: "#000000";
$secondary-color-light: "#484848";

$background-color: "#ffffff";
